# Summary

1. **Create list of file imports with path name**
    - This list gets passed through joblib and function Panda
   
   
2. **Create a pandas multilevel index DataFrame**
    - Drop all rows that are beyond the RAWS latest collecting year (these are all nulls anyways) 
    - Create df with station 4-digit code as name
    - Drop all values that should be null, in this case '-9999'
    - Remove all rows where station metrics are all nulls, set date to be null
    - concats all df together to create a multilevel index dataframe
    - After running in parallel, concat list of all multilevel dataframes
    
    
3. **Redundancy Checks & EDA**


4. **Loading dates DataFrame**
    - Repeats step 2 but this time creates single level df where each column is a RAWS and rows are the days that the site contains data
    
    
5. **Loading NESSID dataset**
    - Used to find NESSID for each 4-digit RAWS code
    - Created in webscrape notebook
    
    
6. **More EDA**
    - Remove all Stations that are completly empty, aka no data collected
    
    
7. **Adding NESSID**
    - Takes NESSID and replace 4-digit code with NESSID
    
    
10. **Dataset Uses**
    - stations_dates 
        - Used to locate the nearest RAWS with data  to a fire occurrence 
    - RAWS_station
        - Used to pull meteorological data for each fire based on the RAWS it is using

# 1. Create list of file imports with path name

<details>
<summary>Click to show file names</summary>

sl_0_20_0.csv sl_0_20_0.json sl_0_20_1.csv sl_0_20_1.json sl_0_20_2.csv sl_0_20_2.json sl_0_20_3.csv sl_0_20_3.json sl_0_20_4.csv sl_0_20_4.json sl_0_20_5.csv sl_0_20_5.json sl_0_20_6.csv sl_0_20_6.json sl_0_20_7.csv sl_0_20_7.json sl_0_45_0.csv sl_0_45_0.json sl_0_45_1.csv sl_0_45_1.json sl_1_20_0.csv sl_1_20_0.json sl_1_20_1.csv sl_1_20_1.json sl_1_20_2.csv sl_1_20_2.json sl_1_20_3.csv sl_1_20_3.json sl_1_20_4.csv sl_1_20_4.json sl_1_20_5.csv sl_1_20_5.json sl_1_20_6.csv sl_1_20_6.json sl_1_20_7.csv sl_1_20_7.json sl_1_45_0.csv sl_1_45_0.json sl_1_45_1.csv sl_1_45_1.json sl_2_20_0.csv sl_2_20_0.json sl_2_20_1.csv sl_2_20_1.json sl_2_20_2.csv sl_2_20_2.json sl_2_20_3.csv sl_2_20_3.json sl_2_20_4.csv sl_2_20_4.json sl_2_20_5.csv sl_2_20_5.json sl_2_20_6.csv sl_2_20_6.json sl_2_20_7.csv sl_2_20_7.json sl_2_20_8.csv sl_2_20_8.json sl_2_20_9.csv sl_2_20_9.json sl_2_20_10.csv sl_2_20_10.json sl_2_20_11.csv sl_2_20_11.json sl_2_20_12.csv sl_2_20_12.json sl_3_20_0.csv sl_3_20_0.json sl_3_20_1.csv sl_3_20_1.json sl_3_20_2.csv sl_3_20_2.json sl_3_20_3.csv sl_3_20_3.json sl_3_20_4.csv sl_3_20_4.json sl_3_20_5.csv sl_3_20_5.json sl_3_20_6.csv sl_3_20_6.json sl_3_20_7.csv sl_3_20_7.json sl_3_20_8.csv sl_3_20_8.json sl_3_20_9.csv sl_3_20_9.json sl_3_20_10.csv sl_3_20_10.json sl_3_45_0.csv sl_3_45_0.json sl_4_20_0.csv sl_4_20_0.json sl_4_20_1.csv sl_4_20_1.json sl_4_20_2.csv sl_4_20_2.json sl_4_20_3.csv sl_4_20_3.json sl_4_20_4.csv sl_4_20_4.json sl_4_20_5.csv sl_4_20_5.json sl_4_20_6.csv sl_4_20_6.json sl_4_20_7.csv sl_4_20_7.json sl_4_20_8.csv sl_4_20_8.json sl_4_20_9.csv sl_4_20_9.json sl_4_20_10.csv sl_4_20_10.json sl_4_45_0.csv sl_4_45_0.json sl_5_20_0.csv sl_5_20_0.json sl_5_20_1.csv sl_5_20_1.json sl_5_20_2.csv sl_5_20_2.json sl_5_20_3.csv sl_5_20_3.json sl_5_20_4.csv sl_5_20_4.json sl_5_20_5.csv sl_5_20_5.json sl_5_20_6.csv sl_5_20_6.json sl_5_20_7.csv sl_5_20_7.json sl_5_20_8.csv sl_5_20_8.json sl_5_20_9.csv sl_5_20_9.json sl_5_20_10.csv sl_5_20_10.json sl_5_20_11.csv sl_5_20_11.json sl_5_20_12.csv sl_5_20_12.json sl_6_20_0.csv sl_6_20_0.json sl_6_20_1.csv sl_6_20_1.json sl_6_20_2.csv sl_6_20_2.json sl_6_20_3.csv sl_6_20_3.json sl_6_20_4.csv sl_6_20_4.json sl_6_20_5.csv sl_6_20_5.json sl_6_20_6.csv sl_6_20_6.json sl_6_20_7.csv sl_6_20_7.json sl_6_20_8.csv sl_6_20_8.json sl_6_20_9.csv sl_6_20_9.json sl_6_20_10.csv sl_6_20_10.json sl_6_45_0.csv sl_6_45_0.json sl_7_20_0.csv sl_7_20_0.json sl_7_20_1.csv sl_7_20_1.json sl_7_20_2.csv sl_7_20_2.json sl_7_20_3.csv sl_7_20_3.json sl_7_20_4.csv sl_7_20_4.json sl_7_20_5.csv sl_7_20_5.json sl_7_20_6.csv sl_7_20_6.json sl_7_20_7.csv sl_7_20_7.json sl_7_20_8.csv sl_7_20_8.json sl_7_20_9.csv sl_7_20_9.json sl_7_20_10.csv sl_7_20_10.json sl_7_45_0.csv sl_7_45_0.json sl_8_20_0.csv sl_8_20_0.json sl_8_20_1.csv sl_8_20_1.json sl_8_20_2.csv sl_8_20_2.json sl_8_20_3.csv sl_8_20_3.json sl_8_20_4.csv sl_8_20_4.json sl_8_20_5.csv sl_8_20_5.json sl_8_20_6.csv sl_8_20_6.json sl_8_20_7.csv sl_8_20_7.json sl_8_20_8.csv sl_8_20_8.json sl_8_20_9.csv sl_8_20_9.json sl_8_20_10.csv sl_8_20_10.json sl_8_20_11.csv sl_8_20_11.json sl_8_20_12.csv sl_8_20_12.json sl_9_20_0.csv sl_9_20_0.json
    
</details>

In [8]:
# takes input copy of files, and turns them into strings
# Above markdown contains full list, note make sure .json and .csv are in the same directory
files = input()
files = files.split(" ")

In [5]:
# take files and seperates .json and .csv files
def import_list(files, path=''):
    '''
    Function takes a list of strings, seperates .json and .csv, option to add a path name to all files
    files : list of files .csv or .json
    path : input path name if file is not in the same directory
    '''
    file_list = files
    json_files = []
    csv_files = []
    for file_name in file_list:
        if file_name.endswith(".json"):
            json_files.append(path + file_name)

        elif file_name.endswith(".csv"):
            csv_files.append(path + file_name)
            
    return json_files, csv_files

json_files, csv_files = import_list(files)
# Add path name

In [3]:
import time
import json
import pandas as pd
import numpy as np
import pickle
from joblib import Parallel, delayed

# 2. Create a pandas multilevel index DataFrame

In [5]:
def Panda(data,date=None):
    '''
    Function: load in multiple json files, clean and create multilevel index dataframe, run with parallel process
                output is a list of multilevel index dataframes 
                
    data : input list of json file paths
    
    date : used for creating a single level of (will drop and run in new function)
    
    
    Summary:
    
    threshold = file of each stations latest record, when pulling data, post request form pulled from 2023-2014
                so if latest record as 2019, then all rows after are -9999, except for date, year, and day_of_year
    
    key_name = list of station code names
    values = station data
    
    create rows, header, dataset: 
            removes the header and pulls the actual data, 
            input headers are incorrect so header is created with list below
            
    creating dataframes:
            variable name for each df is the station code name, threshold is used to drop all rows that are beyond
            collection date, '-9999' is changed to nulls, and any rows missing all weather metrics have their 
            date set to null, this ensures that day will not be used.
            
    final step: concats all dataframes together with multilevel indexing, each station at index 0, data at index 1
    '''
    # Station latest recorded year, stored as dict
    with open('Data/threshold_year.pickle', 'rb') as file:
        threshold = pickle.load(file)
    
    conl = []
    # Reading json files, each contains x number of stations
    with open(data) as file:   
        data = json.load(file)
    for station in data:
        # pull station code name
        key_name = list(station.keys())[0]
        # Get the value of the dictionary
        values = list(station.values())[0]

        # create rows
        rows = [line.strip().split() for line in (list(station.values())[0]).strip().split('\n')]

        header = ['date', 'year', 'day_of_year', 'day_of_run', 'total_solar_radiation_ly',
                  'ave_mean_wind_speed_mph', 'ave_mean_wind_direction_deg', 'max_maximum_wind_gust_mph',
                  'ave_average_air_temperature_deg_f', 'max_average_air_temperature_deg_f',
                  'min_average_air_temperature_deg_f', 'ave_average_relative_humidity',
                  'max_average_relative_humidity', 'min_average_relative_humidity', 'total_precipitation_in']


        # remove header and ending rows
        dataset = rows[7:-6]

        # Creating individual dataframes
        globals()[key_name] = pd.DataFrame(dataset, columns=header)

        # Change year to int so it can be dropped
        globals()[key_name]['year'] = globals()[key_name]['year'].astype(int)

        # Dropping the extra rows
        globals()[key_name] = globals()[key_name].drop(globals()[key_name][globals()[key_name]['year'] > threshold[key_name]].index)

        # Changing all -9999 to nulls
        globals()[key_name]= globals()[key_name].replace('-9999', np.nan)

        # Removing all rows that have all station metrics as nulls
        for index, row in globals()[key_name].iterrows():
            if row.iloc[-11:].isna().all():
                # use .at, might be faster
                globals()[key_name].at[index, 'date'] = np.nan


        # Creating multi level dataframe
        globals()[key_name].columns = pd.MultiIndex.from_product([[key_name], globals()[key_name].columns])

        # create dataframe of only the dates
        if date:
            globals()[key_name] = globals()[key_name].xs('date', axis = 1, level = 1)
            
        # Creating list of dataframes to concat
        conl.append(globals()[key_name])

    final_dfj = pd.concat(conl, axis = 1)

    return final_dfj

In [6]:
# Run panda() function in parallel
results = Parallel(n_jobs=-1, verbose=1)(
    delayed(Panda)(files) for files in json_files
)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 108 out of 108 | elapsed:  5.7min finished

In [7]:
json_df = pd.concat(results, axis=1)

In [8]:
# Check file size
total_memory_gb = json_df.memory_usage(deep=True).sum() / 1024**3
print(f"Total File Size: {total_memory_gb:.2f} GB")

Total File Size: 5.62 GB

# 3. Redundancy Checks & EDA

In [13]:
json_df

            IIND                                                        \
            date  year day_of_year day_of_run total_solar_radiation_ly
0     02/01/2014  2014          32          1                      270
1     02/02/2014  2014          33          2                      207
2     02/03/2014  2014          34          3                      114
3     02/04/2014  2014          35          4                      237
4     02/05/2014  2014          36          5                      294
...          ...   ...         ...        ...                      ...
3388  05/13/2023  2023         133       3389                      330
3389  05/14/2023  2023         134       3390                      608
3390  05/15/2023  2023         135       3391                      335
3391  05/16/2023  2023         136       3392                      571
3392  05/17/2023  2023         137       3393                      476

                                                          \
     ave_mean_wind_speed_mph ave_mean_wind_direction_deg
0                       0.42                          93
1                       3.50                         146
2                       0.96                         232
3                       5.71                         120
4                       4.92                         122
...                      ...                         ...
3388                    3.08                         125
3389                    4.08                         103
3390                    1.79                          96
3391                    2.04                         187
3392                    2.54                         108

                                                                  \
     max_maximum_wind_gust_mph ave_average_air_temperature_deg_f
0                        12.00                              26.3
1                        20.00                              17.6
2                        15.00                              24.8
3                        16.00                              12.7
4                        17.00                               6.2
...                        ...                               ...
3388                     23.00                              59.0
3389                     34.00                              64.9
3390                     14.00                              60.2
3391                     19.00                              61.5
3392                     19.00                              61.7

                                        ...                    TGIL  \
     max_average_air_temperature_deg_f  ... ave_mean_wind_speed_mph
0                                 44.0  ...                    6.54
1                                 26.0  ...                    6.71
2                                 38.0  ...                    3.62
3                                 19.0  ...                    2.96
4                                 15.0  ...                    7.46
...                                ...  ...                     ...
3388                              70.0  ...                    4.46
3389                              81.0  ...                    3.25
3390                              74.0  ...                    2.92
3391                              80.0  ...                    3.17
3392                              77.0  ...                    2.25

                                                            \
     ave_mean_wind_direction_deg max_maximum_wind_gust_mph
0                            192                     21.00
1                            358                     20.00
2                             66                     11.00
3                             93                     16.00
4                            347                     23.00
...                          ...                       ...
3388                         134                     25.00
3389                         131                     29.00
3390                         218                     22.00
3391                         285                     12.00
3392                         318                     14.00

                                                                          \
     ave_average_air_temperature_deg_f max_average_air_temperature_deg_f
0                                 57.0                              65.0
1                                 36.7                              40.0
2                                 37.2                              45.0
3                                 37.9                              41.0
4                                 33.1                              40.0
...                                ...                               ...
3388                              76.4                              86.0
3389                              72.5                              85.0
3390                              75.6                              88.0
3391                              71.5                              78.0
3392                              70.5                              80.0

                                                                      \
     min_average_air_temperature_deg_f ave_average_relative_humidity
0                                 41.0                            92
1                                 34.0                            96
2                                 33.0                            88
3                                 35.0                            96
4                                 26.0                            69
...                                ...                           ...
3388                              68.0                            83
3389                              67.0                            94
3390                              68.0                            83
3391                              66.0                            85
3392                              64.0                            79

                                                                  \
     max_average_relative_humidity min_average_relative_humidity
0                               98                            79
1                               98                            91
2                               96                            71
3                              100                            88
4                              100                            56
...                            ...                           ...
3388                            96                            62
3389                           100                            65
3390                           100                            52
3391                           100                            65
3392                           100                            57


     total_precipitation_in
0                      0.42
1                      0.68
2                      0.00
3                      0.68
4                      0.01
...                     ...
3388                   0.27
3389                   0.65
3390                   0.06
3391                   0.01
3392                   0.00

[3393 rows x 33780 columns]

In [15]:
def null_checker(data):
    '''
    Checks if -9999 value is in daataframe, converts columns to numeric to ensure higher accuracy 
    Inputs:
    data : DataFrame to check, single level index
    '''
    # data copy and convert columns to float
    js = data.copy()
    js.drop(columns='date', inplace=True)
    js =js[js.select_dtypes(include='object').columns].astype(float)
    # null value to find
    value = -9999
    is_present = (js[-10:].values == value).any()
    count = (js[-10:].values == value).sum()

    if is_present:
        print(f"The value is present in the DataFrame.\n{count}")
    else:
        print("The value is not present in the DataFrame.")
        
null_checker(json_df['WGOL'])

The value is not present in the DataFrame.

In [24]:
# double checking
json_df['WGOL']

,date,year,day_of_year,day_of_run,total_solar_radiation_ly,ave_mean_wind_speed_mph,ave_mean_wind_direction_deg,max_maximum_wind_gust_mph,ave_average_air_temperature_deg_f,max_average_air_temperature_deg_f,min_average_air_temperature_deg_f,ave_average_relative_humidity,max_average_relative_humidity,min_average_relative_humidity,total_precipitation_in
0,02/01/2014,2014,32,1,202,4.12,118,10.00,14.0,22.0,8.0,78,94,60,0.00
1,02/02/2014,2014,33,2,71,3.29,25,16.00,14.8,21.0,12.0,86,89,78,0.00
2,02/03/2014,2014,34,3,36,3.75,22,14.00,13.0,22.0,5.0,85,89,78,0.00
3,02/04/2014,2014,35,4,205,6.38,37,21.00,2.3,12.0,-6.0,72,82,55,0.00
4,02/05/2014,2014,36,5,233,6.79,43,23.00,-3.6,5.0,-10.0,60,70,46,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,NaN,2023,133,3389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3389,NaN,2023,134,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3390,05/15/2023,2023,135,3391,378,7.50,235,18.00,67.3,75.0,62.0,46,53,36,5.90
3391,05/16/2023,2023,136,3392,360,8.21,120,21.00,56.7,66.0,50.0,88,100,57,0.68
3392,05/17/2023,2023,137,3393,627,6.42,267,15.00,62.7,71.0,56.0,69,92,52,0.00

In [30]:
# Number of stations
def number_of_stations(df, Return=True):
    '''
    Returns the number of columns in a multilevel index, also returns a list of the columns
    df : multilevel index dataframe
    Return : True  - set to False to only return nothing and only print
    '''
    col = df.columns.get_level_values(0).unique().tolist()
    print(f'Number of Stations: {len(col)}')
    if Return:
        return col

station_names = number_of_stations(json_df)

Number of Stations: 2252

In [32]:
# station index locator
def station_name_locator(station):
    '''
    Function locates the index of a station in the list returned by number_of_stations
    Used to find index location of certain stations in stations_names list
    '''
    counter = -1
    for s in station_names:
        counter +=1
        if s == station:
            print(counter)
            
station_name_locator('WGOL')

19

In [44]:
# Double check
station_names[19]

'WGOL'

In [33]:
def columCheck(df, inputs=False, Return=False):
    '''
    Returns the number of columns in a multilevel index at level 1, 
    also returns a list of the columns
    '''
    # list of every column at level1
    col = df.columns.get_level_values(1).unique().tolist()
    print(f'Number of Stations: {len(col)}')
    display(col)
    # list of columns that contain the input
    if inputs:
        i = inputs
    else: 
        i = input('Select name from list: ')
    if i:
        val = [l for l in df.columns if i in l[1]]
        print(f'Main columns with {i}\n {val}')

    if Return:
        return col

columCheck(json_df)

Number of Stations: 15

['date',
 'year',
 'day_of_year',
 'day_of_run',
 'total_solar_radiation_ly',
 'ave_mean_wind_speed_mph',
 'ave_mean_wind_direction_deg',
 'max_maximum_wind_gust_mph',
 'ave_average_air_temperature_deg_f',
 'max_average_air_temperature_deg_f',
 'min_average_air_temperature_deg_f',
 'ave_average_relative_humidity',
 'max_average_relative_humidity',
 'min_average_relative_humidity',
 'total_precipitation_in']

Select name from list:

1. Drop stations that have no values
    - These stations tend to have 1-5 days recorded in the most recent dataset but i will be dropping these as most don't cover enough days

# 4.  Loading dates DataFrame

In [12]:
json_df

            IIND                                                        \
            date  year day_of_year day_of_run total_solar_radiation_ly
0     02/01/2014  2014          32          1                      270
1     02/02/2014  2014          33          2                      207
2     02/03/2014  2014          34          3                      114
3     02/04/2014  2014          35          4                      237
4     02/05/2014  2014          36          5                      294
...          ...   ...         ...        ...                      ...
3388  05/13/2023  2023         133       3389                      330
3389  05/14/2023  2023         134       3390                      608
3390  05/15/2023  2023         135       3391                      335
3391  05/16/2023  2023         136       3392                      571
3392  05/17/2023  2023         137       3393                      476

                                                          \
     ave_mean_wind_speed_mph ave_mean_wind_direction_deg
0                       0.42                          93
1                       3.50                         146
2                       0.96                         232
3                       5.71                         120
4                       4.92                         122
...                      ...                         ...
3388                    3.08                         125
3389                    4.08                         103
3390                    1.79                          96
3391                    2.04                         187
3392                    2.54                         108

                                                                  \
     max_maximum_wind_gust_mph ave_average_air_temperature_deg_f
0                        12.00                              26.3
1                        20.00                              17.6
2                        15.00                              24.8
3                        16.00                              12.7
4                        17.00                               6.2
...                        ...                               ...
3388                     23.00                              59.0
3389                     34.00                              64.9
3390                     14.00                              60.2
3391                     19.00                              61.5
3392                     19.00                              61.7

                                        ...                    TGIL  \
     max_average_air_temperature_deg_f  ... ave_mean_wind_speed_mph
0                                 44.0  ...                    6.54
1                                 26.0  ...                    6.71
2                                 38.0  ...                    3.62
3                                 19.0  ...                    2.96
4                                 15.0  ...                    7.46
...                                ...  ...                     ...
3388                              70.0  ...                    4.46
3389                              81.0  ...                    3.25
3390                              74.0  ...                    2.92
3391                              80.0  ...                    3.17
3392                              77.0  ...                    2.25

                                                            \
     ave_mean_wind_direction_deg max_maximum_wind_gust_mph
0                            192                     21.00
1                            358                     20.00
2                             66                     11.00
3                             93                     16.00
4                            347                     23.00
...                          ...                       ...
3388                         134                     25.00
3389                         131                     29.00
3390                         218                     22.00
3391                         285                     12.00
3392                         318                     14.00

                                                                          \
     ave_average_air_temperature_deg_f max_average_air_temperature_deg_f
0                                 57.0                              65.0
1                                 36.7                              40.0
2                                 37.2                              45.0
3                                 37.9                              41.0
4                                 33.1                              40.0
...                                ...                               ...
3388                              76.4                              86.0
3389                              72.5                              85.0
3390                              75.6                              88.0
3391                              71.5                              78.0
3392                              70.5                              80.0

                                                                      \
     min_average_air_temperature_deg_f ave_average_relative_humidity
0                                 41.0                            92
1                                 34.0                            96
2                                 33.0                            88
3                                 35.0                            96
4                                 26.0                            69
...                                ...                           ...
3388                              68.0                            83
3389                              67.0                            94
3390                              68.0                            83
3391                              66.0                            85
3392                              64.0                            79

                                                                  \
     max_average_relative_humidity min_average_relative_humidity
0                               98                            79
1                               98                            91
2                               96                            71
3                              100                            88
4                              100                            56
...                            ...                           ...
3388                            96                            62
3389                           100                            65
3390                           100                            52
3391                           100                            65
3392                           100                            57


     total_precipitation_in
0                      0.42
1                      0.68
2                      0.00
3                      0.68
4                      0.01
...                     ...
3388                   0.27
3389                   0.65
3390                   0.06
3391                   0.01
3392                   0.00

[3393 rows x 33780 columns]

In [34]:
# Run panda() function in parallel
results = Parallel(n_jobs=-1, verbose=1)(
    delayed(Panda)(files, True) for files in json_files
)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 108 out of 108 | elapsed:  6.2min finished

In [35]:
date_df = pd.concat(results, axis=1)
date_df

,IIND,HAHU,OWIL,MPHL,CALT,MPIS,TLEW,XMAG,CHOM,HMOL,...,OLAV,CMVA,AOPE,CSKU,MANT,OSIL,ACOA,WKOS,DBLB,TGIL
0,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,NaN,...,02/01/2014,NaN,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014
1,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,NaN,...,02/02/2014,NaN,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014
2,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,NaN,...,02/03/2014,NaN,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014
3,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,NaN,...,02/04/2014,NaN,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014
4,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,NaN,...,02/05/2014,NaN,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,NaN,05/13/2023,05/13/2023,NaN,NaN,...,05/13/2023,NaN,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023
3389,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,NaN,05/14/2023,05/14/2023,NaN,NaN,...,05/14/2023,NaN,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023
3390,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,NaN,05/15/2023,05/15/2023,NaN,NaN,...,05/15/2023,NaN,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023
3391,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,NaN,05/16/2023,05/16/2023,NaN,NaN,...,05/16/2023,NaN,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023
3392,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,NaN,05/17/2023,05/17/2023,NaN,NaN,...,05/17/2023,NaN,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023

In [36]:
# Check file size
total_memory_gb = date_df.memory_usage(deep=True).sum() / 1024**3
print(f"Total File Size: {total_memory_gb:.2f} GB")

Total File Size: 0.43 GB

# 5. Loading NESSID dataset

In [38]:
nessid = pd.read_csv('nessid.csv', index_col=0)
nessid

,Location,Latitude,NESS ID,Longitude,NWS ID,Elevation,Agency
NSCK,Sand Creek North Dakota,"46° 32' 44""",32553302,"103° 31' 06""",323804,2700 ft.,BLM
WSND,Sand Island Wisconsin,"47° 00' 11""",3275B4F8,"90° 56' 11""",NaN,615 ft.,NPS
XBEW,Bear Wallow New Mexico,"33° 27' 18""",326C15C2,"108° 39' 54""",292010,9953 ft.,USFS
CLOS,Los Pinos Creek Colorado,"38° 12' 48""",NaN,"106° 45' 27""",NaN,9600 ft.,NaN
HLUA,Lua Makika Hawaii,"20° 33' 45""",327906EA,"156° 33' 47""",NaN,1100 ft.,S&amp;PF
...,...,...,...,...,...,...,...
TMCK,McKittrick Texas,"31° 58' 39""",3237015E,"104° 45' 06""",NaN,5004 ft.,NPS
GBRA,Brasstown #1 Georgia,"34° 48' 10""",327357C4,"83° 42' 36""",090701,3280 ft.,USFS
NWIL,Williams Lookout North Dakota,"46° 21' 43""",NaN,"102° 03' 43""",NaN,2375 ft.,NaN
NKAN,Kane Springs Nevada,"37° 15' 02""",325CC5DA,"114° 42' 27""",261604,4590 ft.,BLM
WHAL,Half Moon Wyoming,"42° 54' 53""",32317700,"109° 44' 50""",481309,8530 ft.,USFS

In [39]:
nessid[nessid["NESS ID "]== '52118404']

,Location,Latitude,NESS ID,Longitude,NWS ID,Elevation,Agency
WGOL,Gold Mountain Washington,"48° 10' 50""",52118404,"118° 27' 49""",452027,4686 ft.,BIA

# 6. Creating list of stations and their NESS ID

In [40]:
stations = {}
for col in list(date_df.columns):
    stations[col] = nessid[nessid.index == col.upper()]['NESS ID '].values[0]
print(len(stations))

2252

## Remove all Stations that are completly empty

In [41]:
# checks each date column is entire date column is nulls then it is empty and dropped
final_count = 0
empty_stations = {}
for name, value in date_df.isna().sum().items():
    if value == len(date_df):
        final_count +=1
        empty_stations[name] = value
        
# Adding NESS ID as value
for key, value in empty_stations.items():
    empty_stations[key] = nessid[nessid.index == key.upper()]['NESS ID '].values[0]
print(f"Number of empty stations: {final_count}")

Number of empty stations: 313

In [48]:
empty_stations

{'HMOL': 'AAB6D15A',
 'MNWL': '32D77244',
 'TFHD': nan,
 'NBRP': '32D08E26',
 'TKYL': '32D03DA8',
 'CCMT': 'AAB5D654',
 'CSMR': nan,
 'CLSK': nan,
 'ATEL': '3390720E',
 'WBRK': nan,
 'TDRI': '32D04B38',
 'FSUW': nan,
 'PTUM': nan,
 'CSJK': nan,
 'CBML': '32B5385A',
 'CSMP': 'CF1004EE',
 'MCRZ': '32A0B0C2',
 'COAR': '32B525FE',
 'IDEN': '326FC4A4',
 'CRFU': 'CF100A3C',
 'ALGC': '9A70305C',
 'CSLO': 'CA2384AE',
 'MSOF': nan,
 'WLAN': '32458712',
 'MDRD': '3282C248',
 'ADEC': '3962A300',
 'ANUU': '3962C6E6',
 'PASE': nan,
 'WBAI': nan,
 'GPEM': 'F8E017BC',
 'VFDE': '3279707A',
 'MFIN': '326F51C6',
 'CRMA': nan,
 'COLV': '3287D6FE',
 'WTCR': '30001528',
 'UFMB': '329337A8',
 'AMCK': 'FA6035AC',
 'UDGS': '32B37B9E',
 'NHOH': '407203EC',
 'HPHE': '32D6803A',
 'MKET': 'FA65E404',
 'UBCS': '32B6A4E4',
 'CLFL': '923046D2',
 'NASH': '83780484',
 'TPSF': '32A1E244',
 'ANUN': '3962B076',
 'WSND': '3275B4F8',
 'NMRN': '32A1F132',
 'CF31': 'CA48D548',
 'PRIE': '3265E31A',
 'AGOL': '32D06DD4',
 'CGAV': '32B65460',
 'CDCB': nan,
 'CRNP': nan,
 'VFLW': '3281D630',
 'ASDH': '32B3C6C2',
 'CKLM': nan,
 'AGTR': '32B3B052',
 'WLCR': nan,
 'FJAX': nan,
 'NDEC': '32D754A8',
 'MCMD': '5730062E',
 'CGND': nan,
 'WENT': '32417C7E',
 'WAPP': '32A28E7E',
 'VFEO': '328232CC',
 'MZRT': '324AE466',
 'HNEN': '32D64524',
 'CMLL': nan,
 'IROU': '3239E6C4',
 'CBNR': 'CA21F7CA',
 'CSQD': '83792092',
 'OMRR': '32B6F498',
 'ARUT': '3960157A',
 'UDSP': '3257C672',
 'MCYC': '3241915E',
 'NWSB': '32349332',
 'PFTR': nan,
 'NWIL': nan,
 'CPUR': '32A206B8',
 'PDIS': nan,
 'MREX': '0800A33A',
 'AGRO': '32B3C810',
 'GOKN': '32B00A00',
 'VFSO': '3274E67E',
 'HKLL': '32792006',
 'MPI2': nan,
 'VAPP': nan,
 'GRIC': 'F8E0196E',
 'PBRK': nan,
 'HUSG': '3181742E',
 'PCWP': nan,
 'COPS': 'CA215732',
 'MTRO': 'AAB5F0B8',
 'CCHH': nan,
 'FLAK': nan,
 'IBAI': 'FA66B376',
 'MSPO': '3248D408',
 'OGEL': '6000026E',
 'SSFS': nan,
 'MSKB': 'AAB044F6',
 'MNMA': '3274D3E4',
 'ABRB': '32B3BE80',
 'ALOS': '12603368',
 'IKEL': '323734C4',
 'TARN': nan,
 'MBIG': '52110210',
 'ADBY': '39622514',
 'CBLV': 'CA801094',
 'MPLW': '080010B4',
 'SRCW': '32D5515C',
 'OMUL': nan,
 'GOKW': nan,
 'WHAG': '32617342',
 'CCDP': '32B32530',
 'VELK': '900043E6',
 'ICRS': nan,
 'WSHA': 'AAB716BE',
 'ACSG': '5214304A',
 'UWIL': '32B6B792',
 'HMRG': '3266C2F8',
 'CCRP': '32A1AF9C',
 'UCRC': '32B6AA36',
 'UGRC': nan,
 'IBWF': '32B163CE',
 'CKNW': '32B6FA4A',
 'XBLM': '5213D18C',
 'TCOV': '32B79384',
 'ABRI': '32B65AB2',
 'UKFO': '3237C440',
 'UDGN': '32B3754C',
 'CJAP': nan,
 'CGME': nan,
 'OSLG': nan,
 'CNVF': '52014684',
 'VFAI': '3274E67E',
 'AWUP': 'FA65B478',
 'NRUV': '33355574',
 'IEAG': '326FD7D2',
 'OCHD': nan,
 'CWIR': '923055A4',
 'SMCR': 'AAAB2526',
 'JMID': 'FF10372A',
 'CNST': nan,
 'GBAI': nan,
 'HMAP': '324C075A',
 'MEF3': '328E632C',
 'ALIR': 'FA509324',
 'MPTX': '8377411C',
 'AML2': nan,
 'TSN2': '3335D360',
 'CSRE': nan,
 'CBKE': '32B5A3EA',
 'ALYN': '32B661FA',
 'MGAT': '16C4536A',
 'CMTH': '32A151CA',
 'VKEA': '9000F068',
 'UBTC': '32B5C60C',
 'WGAN': nan,
 'ACHA': '3247221E',
 'AONE': '32B3ADF6',
 'WOHA': 'FA65211A',
 'MCPE': 'ADB00D40',
 'NBAK': 'FA62B64C',
 'CROB': '92303042',
 'SMAR': 'AAA26070',
 'OBCP': nan,
 'CDV2': 'CA44F238',
 'TJCR': '32D0CD2C',
 'SORA': '32B73DAE',
 'WSTC': '32A293DA',
 'CCDA': nan,
 'AGLA': '3962D590',
 'CFLB': '92300B0A',
 'ACHP': '3962661E',
 'CHRM': nan,
 'ASCL': '323C02F6',
 'ALTB': '39623662',
 'UDGW': '32B385C8',
 'GLAW': 'F8E00A18',
 'ICTT': 'AAC4A792',
 'FBLA': nan,
 'MMGR': 'AAB6574E',
 'MYAA': '3273A740',
 'AKUG': '396203F8',
 'PYEL': nan,
 'VFNO': '326A70EA',
 'TLAC': '32D0A8CA',
 'CCAA': '325C7654',
 'CPRT': nan,
 'LBAR': nan,
 'WEGL': '32A280AC',
 'MBLH': '32B277B6',
 'XSLB': 'AAB621DE',
 'CORE': nan,
 'WGUE': 'C55AB568',
 'NWAM': '8374B696',
 'WJIM': nan,
 'ALNE': '396008DE',
 'ATRP': '3242534E',
 'CRAM': nan,
 'CGA2': '3239C028',
 'HKPD': '32B2C438',
 'YBOL': '32B0E720',
 'CKYR': 'AA110350',
 'TBIB': '3237015E',
 'MRLK': nan,
 'CLDK': '32B33894',
 'WWRX': '3244C6E2',
 'WBBL': '32A18970',
 'WLNC': nan,
 'ADIX': '32B26A12',
 'CCWC': nan,
 'ASRS': '32B17E6A',
 'MCSS': '3290E6CE',
 'NMCK': '32D0EBC0',
 'ATRI': '32A179F4',
 'AREI': '12609390',
 'CSED': '32B649C4',
 'JWAL': '8377F292',
 'VHIL': nan,
 'CRTL': 'FA626024',
 'WPDW': '32B23A6E',
 'CTEP': 'CF101798',
 'ULAK': '327E47D4',
 'MBOG': '32B108FA',
 'TSMW': '32D02EDE',
 'IRRP': '3263A0DE',
 'AWLR': '32B66F28',
 'CTAL': '920040A2',
 'WWLC': nan,
 'HP17': '3279630C',
 'PDOL': nan,
 'CMTR': '923005D8',
 'OMAU': '6140506C',
 'FAVN': nan,
 'NBUX': nan,
 'CALC': '32A16450',
 'CSC3': '9330E788',
 'GFTG': 'FE100312',
 'WARC': nan,
 'NLAN': '328D6422',
 'HDIL': '3278D278',
 'PTRX': nan,
 'AEUT': '32B3D5B4',
 'MHNT': '3241915E',
 'MBPN': '324C32C0',
 'WPOL': 'AAB5E3CE',
 'TWIM': '32D01B44',
 'WDYC': nan,
 'ISTE': 'FD1042FE',
 'AUCR': '3960D064',
 'ACTU': '396020E0',
 'VAUG': nan,
 'FINL': nan,
 'CBUK': 'AAB72324',
 'MMVW': 'AAB64438',
 'JBLU': '3291C2D8',
 'GMOO': '32B76DD2',
 'WSPC': nan,
 'TCOK': '3244E00E',
 'MWAH': '323C41FC',
 'CTDN': '32B52B2C',
 'FTAL': nan,
 'TRCK': '32D0BBBC',
 'GGLI': 'F8E004CA',
 'AGOA': '396285EC',
 'AHEL': '126006F2',
 'CSC1': '9330D212',
 'GOAK': nan,
 'CALA': nan,
 'ABBY': nan,
 'CSSM': '32B53688',
 'CSCE': '93305406',
 'CBLH': nan,
 'ATAN': '3960709C',
 'SHOR': '3250C446',
 'CALG': 'CA80539E',
 'WMOU': '3250943A',
 'HPUN': '48703040',
 'OECK': '323EB48C',
 'IDTC': 'AAB6F7B6',
 'GTAY': 'F8E02226',
 'HLKA': '32D620C2',
 'HKAW': '3278C10E',
 'PIND': '32A0FD1A',
 'TNEA': 'AAC08444',
 'CSUG': 'FA60A0CE',
 'AGRA': '1260B57C',
 'GCOC': nan,
 'NSKY': '32B1B5A6',
 'TDEL': nan,
 'CCAS': '92302334',
 'CTLR': '923016AE',
 'STAB': '32B745EC',
 'MBCB': '3275447C',
 'ABEV': '12613192',
 'CBNN': '32A101B6',
 'CCUY': '32A1FFE0',
 'ATLA': '339054E2',
 'UOSP': '32D3948C',
 'SDUR': '32B7337C',
 'TWOL': 'AAC0B1DE',
 'CMSG': 'CA8040E8',
 'NWRN': nan,
 'PCHE': nan,
 'MOBR': '32B0C1CC',
 'AQUE': '3962969A',
 'YCAT': '6250A590',
 'ICRE': '3463600C',
 'NMON': 'AA10C4B4',
 'CBRK': '3231C48E',
 'CMVA': 'CA801094'}

In [49]:
# Dropping empty stations from list
date_df.drop(columns=list(empty_stations.keys()), inplace=True)
json_df.drop(columns=list(empty_stations.keys()), level=0, inplace=True)

In [59]:
# Checking number of stations after dropping.
print(f'Number of Stations: {len(date_df.columns)}')
number_of_stations(json_df, Return=False)
print(f"Number of stations that should be left: {len(stations) - final_count}")

Number of Stations: 1939
Number of Stations: 1939
Number of stations that should be left: 1939

In [52]:
nessid

,Location,Latitude,NESS ID,Longitude,NWS ID,Elevation,Agency
NSCK,Sand Creek North Dakota,"46° 32' 44""",32553302,"103° 31' 06""",323804,2700 ft.,BLM
WSND,Sand Island Wisconsin,"47° 00' 11""",3275B4F8,"90° 56' 11""",NaN,615 ft.,NPS
XBEW,Bear Wallow New Mexico,"33° 27' 18""",326C15C2,"108° 39' 54""",292010,9953 ft.,USFS
CLOS,Los Pinos Creek Colorado,"38° 12' 48""",NaN,"106° 45' 27""",NaN,9600 ft.,NaN
HLUA,Lua Makika Hawaii,"20° 33' 45""",327906EA,"156° 33' 47""",NaN,1100 ft.,S&amp;PF
...,...,...,...,...,...,...,...
TMCK,McKittrick Texas,"31° 58' 39""",3237015E,"104° 45' 06""",NaN,5004 ft.,NPS
GBRA,Brasstown #1 Georgia,"34° 48' 10""",327357C4,"83° 42' 36""",090701,3280 ft.,USFS
NWIL,Williams Lookout North Dakota,"46° 21' 43""",NaN,"102° 03' 43""",NaN,2375 ft.,NaN
NKAN,Kane Springs Nevada,"37° 15' 02""",325CC5DA,"114° 42' 27""",261604,4590 ft.,BLM
WHAL,Half Moon Wyoming,"42° 54' 53""",32317700,"109° 44' 50""",481309,8530 ft.,USFS

In [60]:
date_df

,IIND,HAHU,OWIL,MPHL,CALT,MPIS,TLEW,XMAG,CHOM,OFIS,...,CLAB,OLAV,AOPE,CSKU,MANT,OSIL,ACOA,WKOS,DBLB,TGIL
0,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,...,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014
1,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,...,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014
2,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,...,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014
3,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,...,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014
4,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,...,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,NaN,05/13/2023,05/13/2023,NaN,05/13/2023,...,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023,05/13/2023
3389,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,NaN,05/14/2023,05/14/2023,NaN,05/14/2023,...,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023,05/14/2023
3390,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,NaN,05/15/2023,05/15/2023,NaN,05/15/2023,...,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023,05/15/2023
3391,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,NaN,05/16/2023,05/16/2023,NaN,05/16/2023,...,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023,05/16/2023
3392,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,NaN,05/17/2023,05/17/2023,NaN,05/17/2023,...,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023,05/17/2023

In [61]:
json_df

            IIND                                                        \
            date  year day_of_year day_of_run total_solar_radiation_ly
0     02/01/2014  2014          32          1                      270
1     02/02/2014  2014          33          2                      207
2     02/03/2014  2014          34          3                      114
3     02/04/2014  2014          35          4                      237
4     02/05/2014  2014          36          5                      294
...          ...   ...         ...        ...                      ...
3388  05/13/2023  2023         133       3389                      330
3389  05/14/2023  2023         134       3390                      608
3390  05/15/2023  2023         135       3391                      335
3391  05/16/2023  2023         136       3392                      571
3392  05/17/2023  2023         137       3393                      476

                                                          \
     ave_mean_wind_speed_mph ave_mean_wind_direction_deg
0                       0.42                          93
1                       3.50                         146
2                       0.96                         232
3                       5.71                         120
4                       4.92                         122
...                      ...                         ...
3388                    3.08                         125
3389                    4.08                         103
3390                    1.79                          96
3391                    2.04                         187
3392                    2.54                         108

                                                                  \
     max_maximum_wind_gust_mph ave_average_air_temperature_deg_f
0                        12.00                              26.3
1                        20.00                              17.6
2                        15.00                              24.8
3                        16.00                              12.7
4                        17.00                               6.2
...                        ...                               ...
3388                     23.00                              59.0
3389                     34.00                              64.9
3390                     14.00                              60.2
3391                     19.00                              61.5
3392                     19.00                              61.7

                                        ...                    TGIL  \
     max_average_air_temperature_deg_f  ... ave_mean_wind_speed_mph
0                                 44.0  ...                    6.54
1                                 26.0  ...                    6.71
2                                 38.0  ...                    3.62
3                                 19.0  ...                    2.96
4                                 15.0  ...                    7.46
...                                ...  ...                     ...
3388                              70.0  ...                    4.46
3389                              81.0  ...                    3.25
3390                              74.0  ...                    2.92
3391                              80.0  ...                    3.17
3392                              77.0  ...                    2.25

                                                            \
     ave_mean_wind_direction_deg max_maximum_wind_gust_mph
0                            192                     21.00
1                            358                     20.00
2                             66                     11.00
3                             93                     16.00
4                            347                     23.00
...                          ...                       ...
3388                         134                     25.00
3389                         131                     29.00
3390                         218                     22.00
3391                         285                     12.00
3392                         318                     14.00

                                                                          \
     ave_average_air_temperature_deg_f max_average_air_temperature_deg_f
0                                 57.0                              65.0
1                                 36.7                              40.0
2                                 37.2                              45.0
3                                 37.9                              41.0
4                                 33.1                              40.0
...                                ...                               ...
3388                              76.4                              86.0
3389                              72.5                              85.0
3390                              75.6                              88.0
3391                              71.5                              78.0
3392                              70.5                              80.0

                                                                      \
     min_average_air_temperature_deg_f ave_average_relative_humidity
0                                 41.0                            92
1                                 34.0                            96
2                                 33.0                            88
3                                 35.0                            96
4                                 26.0                            69
...                                ...                           ...
3388                              68.0                            83
3389                              67.0                            94
3390                              68.0                            83
3391                              66.0                            85
3392                              64.0                            79

                                                                  \
     max_average_relative_humidity min_average_relative_humidity
0                               98                            79
1                               98                            91
2                               96                            71
3                              100                            88
4                              100                            56
...                            ...                           ...
3388                            96                            62
3389                           100                            65
3390                           100                            52
3391                           100                            65
3392                           100                            57


     total_precipitation_in
0                      0.42
1                      0.68
2                      0.00
3                      0.68
4                      0.01
...                     ...
3388                   0.27
3389                   0.65
3390                   0.06
3391                   0.01
3392                   0.00

[3393 rows x 29085 columns]

# 7. Adding NESSID

In [62]:
# Changing Station names from the 4 letters code to the NESS ID

json_df.rename(columns=stations, level=0, inplace=True)
date_df.rename(columns=stations, inplace=True)

In [63]:
json_df.head()

     3234455A                                                        \
         date  year day_of_year day_of_run total_solar_radiation_ly
0  02/01/2014  2014          32          1                      270
1  02/02/2014  2014          33          2                      207
2  02/03/2014  2014          34          3                      114
3  02/04/2014  2014          35          4                      237
4  02/05/2014  2014          36          5                      294

                                                       \
  ave_mean_wind_speed_mph ave_mean_wind_direction_deg
0                    0.42                          93
1                    3.50                         146
2                    0.96                         232
3                    5.71                         120
4                    4.92                         122

                                                               \
  max_maximum_wind_gust_mph ave_average_air_temperature_deg_f
0                     12.00                              26.3
1                     20.00                              17.6
2                     15.00                              24.8
3                     16.00                              12.7
4                     17.00                               6.2

                                     ...                88400776  \
  max_average_air_temperature_deg_f  ... ave_mean_wind_speed_mph
0                              44.0  ...                    6.54
1                              26.0  ...                    6.71
2                              38.0  ...                    3.62
3                              19.0  ...                    2.96
4                              15.0  ...                    7.46

                                                         \
  ave_mean_wind_direction_deg max_maximum_wind_gust_mph
0                         192                     21.00
1                         358                     20.00
2                          66                     11.00
3                          93                     16.00
4                         347                     23.00

                                                                       \
  ave_average_air_temperature_deg_f max_average_air_temperature_deg_f
0                              57.0                              65.0
1                              36.7                              40.0
2                              37.2                              45.0
3                              37.9                              41.0
4                              33.1                              40.0

                                                                   \
  min_average_air_temperature_deg_f ave_average_relative_humidity
0                              41.0                            92
1                              34.0                            96
2                              33.0                            88
3                              35.0                            96
4                              26.0                            69

                                                               \
  max_average_relative_humidity min_average_relative_humidity
0                            98                            79
1                            98                            91
2                            96                            71
3                           100                            88
4                           100                            56


  total_precipitation_in
0                   0.42
1                   0.68
2                   0.00
3                   0.68
4                   0.01

[5 rows x 29085 columns]

In [64]:
date_df.head()

,3234455A,4870D3B2,324AD1FC,323FA500,CA41F5F8,327BC600,02609414,32336182,91C0165C,325D842A,...,CA2311CC,323582BE,327E82CA,324AA76C,325363B0,324BD306,39605670,3000D036,DF10101C,88400776
0,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,...,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014,02/01/2014
1,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,...,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014,02/02/2014
2,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,...,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014,02/03/2014
3,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,...,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014,02/04/2014
4,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,...,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014,02/05/2014

In [65]:
# Exporting both datasets as a csv

# date_df.to_csv('stations_dates.csv', index=False)
# json_df.to_csv('RAWS_stations.csv', index=False)